# Banco de dados e logs (não subir para o GitHub)
data/
logs/
*.db
*.log

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo

# Variáveis de ambiente (se usar no futuro)
*.env
*.venv
.env
.venv/
src/__pycache__/
src/*.pyc
src/*.pyo
src/logs/